In [1]:
import pandas as pd

In [2]:
filename1 = "online_retail_data1.csv"
filename2 = "online_retail_data2.csv"

In [4]:
def read_data(filename1, filename2):
    """
    Write a function to read the dataframes and return them as as a tuple
    Input:
        filename1 - csv file 1
        filename1 - csv file 1
    output: Tuple
        (dataframe1,dataframe2)
    """
    dataframe1 = pd.read_csv(filename1)
    dataframe2 = pd.read_csv(filename2)
    return tuple((dataframe1, dataframe2))

In [ ]:
def merge_dataframe(df1, df2):
    """
    Write a function to merge the two dataframes(given in the parameter) and return the merged dataframe
    Input:
        df1 - dataframe 1
        df2 - dataframe 2
    Output:
        merged dataframe (DataFrame)
    """
    DataFrame = pd.concat([df1, df2], ignore_index=True)
    return DataFrame

In [ ]:
def convert_datatype(merged_df):
    """
    Write a function to convert the 'Quantity' column to integer datatype and return the resulting dataframe
    Input:
        merged_df - DataFrame
    Output:
        DataFrame
    """
    merged_df['Quantity'] = merged_df['Quantity'].astype(int)
    return merged_df

In [ ]:
def remove_numbers(dataframe):
    """
    Write a function to remove the numerical values from the 'Country' column and return the dataframe
    Input:
        dataframe - DataFrame
    Output:
        DataFrame
    """
    dataframe['Country'] = dataframe['Country'].str.replace('\d+', '', regex=True)
    return dataframe

In [ ]:
def num_null_values(dataframe):
    """
    Write a function to return the number of null values in each column as a dictionary
    Input:
        dataframe - DataFrame
    Output:
        Dictionary
    """
    def count_null_values(df):
        null_counts = df.isnull().sum().to_dict()
        return null_counts
    null_counts_dict = count_null_values(dataframe)
    return null_counts_dict

In [ ]:
def unique_list(dataframe):
    """
    Write a function to return the unique InvoiceNo values as a list where the Description column has null values 
    Input:
        dataframe - DataFrame
    Output:
        List
    """
    lis = list(dataframe.loc[dataframe["Description"].isna()]["InvoiceNo"].unique())
    return lis

In [ ]:
def drop_columns(dataframe):
    """
    Write a function to drop the columns which have null value in them and return the dataframe
    Input:
        dataframe - DataFrame
    Output:
        DataFrame
    """
    df = dataframe.dropna(axis='columns')
    return df

In [ ]:
def country_names(dataframe):
    """
    Write a function to get a list of unique country names and the number of unique countries as a tuple
    Input:
        dataframe - DataFrame
    Output:
        Tuple
    """
    lis2 = list(dataframe["Country"].unique())
    tup2 = (lis2, len(lis2))
    return tup2